# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_OCCULTIST_NORM_LEFT
	def_bool $(shields_list_contains,occultist_norm_left)

config SHIELD_OCCULTSIT_NORM_RIGHT
	def_bool $(shields_list_contains,occultist_norm_right)

